<h1 class="text-center"><%=@transaction.item.seller.user_name%>さんと<%=@transaction.user.user_name%>さんの<br>メッセージ</h1>
<div class="container">
  <% if @over_ten %>
    <%= link_to '以前のメッセージ', '?m=all' %>
  <% end %>

  <%= render 'messages/body', messages: @messages %>

  <%= form_with(model: [@transaction, @message]) do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control" %>
    </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
    <div>
      <%= f.submit "メッセージを送る" %>
    </div>

  <% end %>
</div>
