<div class="container">
  <div class="row">
    <% users.each do |user| %>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <div class="card-img-top">
            <% if user.user_icon.present? %>
              <%= link_to image_tag(user.user_icon.user_thumb), user %>
            <% else %>
              <%= link_to image_tag(asset_path("usericon.jpg")), user %>
            <% end %>
          </div>

          <div>
            名前:<%= link_to user.user_name, user %>
          </div>

          <%# フォローボタン %>
          <div id="relationship_switch_<%= user.id %>">
            <%= render 'relationships/switch', user: user %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
