<div class="">
  <% if user.user_icon.present? %>
    <%= image_tag user.user_icon.user_thumb %>
  <% else %>
    <%= image_tag asset_path("usericon.jpg") %>
  <% end %>
</div>
<div class="">
  名前<br>
  <%= user.user_name %>
</div>

<div class="">
  <%# フォローボタン %>
  <div id="relationship_switch_<%= user.id %>">
    <%= render 'relationships/switch', user: @user %>
  </div>
</div>
