<%= form_with model: user, local: true do |f| %>

<div class="">
  <%= f.label :user_icon %>
  <%= image_tag user.user_icon %>
</div>
<div class="">
  <%= f.label :user_name %>
  <%= user.user_name %>
</div>

<div class="">
  <%# フォローボタン %>
  <% unless current_user.active_relationships.find_by(followed_id: @user.id) %>
  <%= link_to 'フォロー', user_relationships_path(@user.id), method: :post %>
  <% else %>
  <%=
    link_to 'フォロー解除',
    user_relationship_path(@user.id, Relationship.find_by(followed_id: @user.id).id),
    method: :delete
  %>
  <% end %>
</div>

<% end %>
