<%# ユーザー詳細画面 %>
<div class="container">

<%# user のデータ %>
<%= render 'users/params', user: @user %>

  <% if current_user == @user %>
    <div class="">
      <%= link_to 'ユーザー情報編集', edit_user_registration_path %>
    </div>
  <% end %>

  <div class="">
    <%# 生産者情報を持っている時、生産者情報を表示する %>
    <% unless @user.producer.nil? %>
      <div class="">
        <p>生産者情報</p>
        <%= render 'producers/params', producer: @producer %>
      </div>
    <% end %>
  </div>

  <% if current_user == @user %>
    <% if @user.producer.nil? %>
      <%= link_to '生産者情報登録', new_user_producer_path(@user.id) %>
    <% else %>
      <%=
        link_to '生産者情報編集',
        edit_user_producer_path(@user.id, @user.producer.id)
      %>

      <div class="">
        <%= link_to '出品中の商品', selling_items_user_path(@user) %>
      </div>

      <div class="">
        <%= link_to '売却済商品', sold_items_user_path(@user) %>
      </div>
    <% end %>

    <div class="">
      <%= link_to '取引中一覧', transactions_path %>
    </div>

    <div class="">
      <%= link_to '購入履歴', buy_history_user_path(@user) %>
    </div>
  <% end %>

  <div class="">
    <%= link_to 'お気に入り一覧', item_favorites_path(@user.id) %>
  </div>

  <div class="">
    <%= link_to 'フォロー一覧', user_relationships_path(@user.id) %>
  </div>

</div>
