<%# ユーザー詳細画面 %>
<div class="container">

<%# user のデータ %>
<%= render 'users/params', user: @user %>

  <% if current_user == @user %>
    <div class="">
      <%= link_to 'ユーザー情報編集', edit_user_registration_path %>
    </div>
  <% end %>

  <div class="">
    <%# 生産者情報を持っている時、生産者情報を表示する %>
    <% unless @user.producer.nil? %>
      <div class="">
        <p>生産者情報</p>
        <%= render 'producers/params', producer: @producer %>
      </div>
    <% end %>
  </div>

  <% if current_user == @user %>
    <% if @user.producer.nil? %>
      <%= link_to '生産者情報登録', new_user_producer_path(@user.id) %>
    <% else %>
      <%=
        link_to '生産者情報編集',
        edit_user_producer_path(@user.id, @user.producer.id)
      %>

      <div class="">
        出品中一覧
      </div>
    <% end %>

    <div class="">
      購入履歴
    </div>
  <% end %>

  <%# 出品中の商品を表示 %>
  <%= render 'items/list', items: @user.salling_items %>

  <div class="">
    お気に入り一覧
  </div>
  <%# お気に入り一覧を表示 %>
  <%= render 'favorites/item_list', user: @user %>

  <div class="">
    フォロー一覧
    <%= render 'relationships/following_list', user: current_user %>
  </div>

</div>
