<div class="container">

  <%= form_with model: @user, local: true do |f| %>

  <div class="">
    <%= f.label :user_icon %>
    <%= image_tag @user.user_icon %>
  </div>
  <div class="">
    <%= f.label :user_name %>
    <%= @user.user_name %>
  </div>

  <% end %>

  <div class="">
    <%= link_to 'ユーザー情報編集', edit_user_registration_path %>
  </div>

  <div class="">
    <%# 生産者情報を持っている時、生産者情報を表示する %>
    <% unless @user.producer.nil? %>
      <div class="">
        <p>生産者情報</p>
        <%= render 'producers/params', producer: @producer %>
      </div>
    <% end %>

    <% if @user.producer.nil? %>
      <%= link_to '生産者情報登録', new_user_producer_path(@user.id) %>
    <% else %>
      <%=
        link_to '生産者情報編集',
        edit_user_producer_path(@user.id, @user.producer.id)
      %>
    <% end %>
  </div>

  <div class="">
    お気に入り一覧
  </div>

  <div class="">
    フォロー一覧
  </div>

  <div class="">
    購入履歴
  </div>

</div>
