<div class="container">
  <%#エラーメッセージ %>
  <% if item.errors.any? %>
    <div class="">
      <% item.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

<%# 入力フォーム %>
  <%= form_with model: item, local: true, url: choose_url_new_or_edit, method: choose_method_new_or_edit do |f| %>

    <table>
      <tr>
        <td><%= image_tag item.item_image if item.item_image.present? %></td>
      </tr>

      <tr>
        <th><%= f.label :item_name %></th>
        <td><%= f.text_field :item_name %></td>
      </tr>

      <tr>
        <th><%= f.label :item_image %></th>
        <td><%= f.file_field :item_image %></td>
        <%= f.hidden_field :item_image_cache %>
      </tr>

      <tr>
        <th><%= f.label :price %></th>
        <td><%= f.text_field :price %>円</td>
      </tr>

      <tr>
        <th><%= f.label :item_content %></th>
        <td><%= f.text_area :item_content %></td>
      </tr>

      <tr>
        <td><%= f.submit %></td>
      </tr>
    </table>

    <%# if @patch %>
      <%= hidden_field_tag :p, @patch %>
    <%# end %>
  <% end %>
</div>
