<div class="container">
  <% items.each do |item| %>
  <%= form_with model: item, local: true do |f| %>
    <div class="">
      <%= f.label :item_name %>
      <%= item.item_name %>
    </div>

    <div class="">
      <%= image_tag item.item_image %>
    </div>

    <div class="">
      生産者：
      <%= link_to item.saler.user_name, user_path(item.saler.id) %>
    </div>

    <div class="">
      生産地：
      <%= item.saler.producer.area %>
    </div>

    <div class="">
      <%= f.label :price %>
      <%= item.price %>円
    </div>

    <div class="">
      <%= item.item_content %>
    </div>

    <div class="">
      <%= link_to '詳細', item %>
    </div>

    <% if current_user.id == item.saler.id %>
      <div class="">
        <%= link_to '編集', edit_item_path(item) %>
      </div>

      <div class="">
        <%= link_to '削除', item, method: :delete, data: {confirm: '削除しますか？'} %>
      </div>
    <% end %>
    <% end %>

  <% end %>
</div>
