<div class="">
  <div class="">
    <%= image_tag item.item_image %>
  </div>

  <div class="">
    商品名：<%= item.item_name %>
  </div>

  <div class="">
    価格：<%= item.price %>円
  </div>

  <div class="">
    出品時間<%= item.created_at %>
  </div>

  <div class="">
    生産者
    <%= link_to '生産者情報', user_path(item.seller) %>
  </div>

  <div class="">
    生産地
  </div>

  <div class="">
    <%= simple_format item.item_content %>
  </div>
</div>
