<%= render 'items/params', item: @item %>

<% if @transaction.errors.any? %>
  <% @transaction.errors.full_messages.each do |m| %>
    <p><%= m %></p>
  <% end %>
<% end %>

<h4>この商品を購入しますか？</h4>
<div class="">
  <%= form_with model: @trensaction, local:true do |f| %>
    <%= hidden_field_tag 'transaction[item_id]', @item.id %>
    <%= f.submit 'はい' %>
  <% end %>
</div>
<div class="">
  <%= link_to submit_tag("いいえ"), item_path(params[:id]) %>
</div>
