<div class="container">
  <% @items.each do |item| %>
  <div class="">
    <%= item.item_name %>
  </div>

  <div class="">
    <%= image_tag item.item_image %>
  </div>

  <div class="">
    <%= item.price %>
  </div>

  <div class="">
    <%= item.item_content %>
  </div>

  <div class="">
    <%= link_to '詳細', item %>
  </div>

  <div class="">
    <%= link_to '編集', edit_item_path(item) %>
  </div>

  <div class="">
    <%= link_to '削除', item, method: :delete, data: {confirm: '削除しますか？'} %>
  </div>
  <% end %>
</div>
