<%#商品詳細画面 %>
<div class="container">
  <%= render 'items/params', item: @item %>

<%# お気に入りボタン %>
  <%= render 'favorites/switch' %>

<%# 購入申請ボタン %>
  <%= render 'items/buy_request' %>

  <% if user_signed_in? %>
  <%# コメント機能 %>
    <h4>コメント一覧</h4>
    <div id="comments_area">
      <%= render 'comments/index', comments: @comments %>
    </div>
      <%= render 'comments/form', {item: @item, comment: @comment} %>

    <% if current_user.id == @item.seller.id %>
      <div class="">
        <%= link_to '編集', edit_item_path(@item) %>
      </div>

      <div class="">
        <%= link_to '削除', @item, method: :delete, data: {confirm: '削除しますか？'} %>
      </div>
    <% end %>
  <% end %>

</div>
