<%#商品詳細画面 %>
<div class="container">
  <%= render 'items/params', item: @item %>

<%# お気に入りボタン %>
  <div id="favorite_switch_<%= @item.id %>">
    <%= render 'favorites/switch', {item: @item, favorite: @favorite} if user_signed_in? %>
  </div>

<%# 購入申請ボタン %>
  <%= render 'items/buy_request' if user_signed_in? %>

  <ul>
  <%= "#{@transactions.count}の購入申請があります" %>
  <% @transactions.each do |transaction| %>
    <li><%= link_to "#{transaction.user.user_name}さんとのチャット画面はこちら", transaction_messages_path(transaction.id) if transaction.present? && @item.seller == current_user %></li>
  <% end %>
  </ul>

<%# コメント機能 %>
  <%= render 'comments/comment_area' %>

  <%= render 'items/links', item: @item %>
</div>
