<%#商品詳細画面 %>
<div class="container">
  <%= render 'items/params', item: @item %>

    <div class="">
      <%= render 'favorites/switch' %>
    </div>

    <div class="">
      <%= link_to '購入申請', buy_confirm_item_path(@item) %>
    </div>

  <% if user_signed_in? %>
  <%# コメント機能 %>
    <h4>コメント一覧</h4>
    <div id="comments_area">
      <%= render 'comments/index', comments: @comments %>
    </div>
      <%= render 'comments/form', {item: @item, comment: @comment} %>

    <% if current_user.id == @item.saler.id %>
      <div class="">
        <%= link_to '編集', edit_item_path(@item) %>
      </div>

      <div class="">
        <%= link_to '削除', @item, method: :delete, data: {confirm: '削除しますか？'} %>
      </div>
    <% end %>
  <% end %>

</div>
