<% #詳細画面 %>

<div class="">
  <%= image_tag @item.item_image %>
</div>

<div class="">
  商品名：<%= @item.item_name %>
</div>

<div class="">
  価格：<%= @item.price %>円
</div>

<div class="">
  出品時間<%= @item.created_at %>
</div>

<div class="">
  生産者
</div>

<div class="">
  生産地
</div>

<div class="">
  <%= @item.item_content %>
</div>

<div class="">
  購入ボタン
</div>
