<%#商品詳細画面 %>
<div class="">
  <%= render 'items/params', item: @item %>

<%# お気に入りボタン %>
  <%= render 'favorites/switch', item: @item %>

<%# 購入申請ボタン %>
  <%= render 'items/buy_request' %>

<%# コメント機能 %>
  <%= render 'comments/comment_area' %>

  <%= render 'items/links', item: @item %>
</div>
