<div class="container">

  <%= form_with model: producer, local: true, url: choose_new_or_edit do |f| %>
    <div class="">
      <%= f.label :producer_image %>
      <%= f.file_field :producer_image %>
    </div>

    <div class="">
      <%= f.label :area %>
      <%= f.text_field :area %>
    </div>

    <div class="">
      <%= f.label :pesticide %>
      <label><%= f.radio_button :pesticide, false %>有り</label>
      <label><%= f.radio_button :pesticide, true %>無し</label>
    </div>

    <div class="">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>

    <div class="">
      <%= f.submit %>
    </div>
  <% end %>

</div>
