<tr class="container">
  <% if producer.errors.any? %>
    <div class="">
      <% producer.errors.full_messages.each do |m| %>
        <p><%= m %></p>
      <% end %>
    </div>
  <% end %>

  <%= form_with model: [user, producer], local: true do |f| %>
    <table>
      <tr>
        <th><%= f.label :producer_image %></th>
        <td><%= f.file_field :producer_image %></td>
      </tr>

      <tr>
        <th><%= f.label :area %></th>
        <td>
            <%= f.collection_select :area, JpPrefecture::Prefecture.all, :name, :name %>
        </td>
      </tr>

      <tr>
        <th><%= f.label :pesticide %></th>
        <td>
          <label><%= f.radio_button :pesticide, false %>有り</label>
          <label><%= f.radio_button :pesticide, true %>無し</label>
        </td>
      </tr>

      <tr>
        <th><%= f.label :content %></th>
        <td><%= f.text_area :content %></td>
      </tr>

      <tr>
        <td>
          <%= f.submit data: {confirm: "※登録後削除できません\n登録してよろしいですか？"}%>
        </td>
      </tr>
    </table>
  <% end %>

</tr>
