<div class="container">

<%=
  form_with model: producer, local: true,
  url: user_producers_path(producer.user_id) do |f|
%>

<table>
  <tr>
    <th><%= f.label :producer_image %></th>
    <td><%= image_tag producer.producer_image %></td>
  </tr>

  <tr>
    <th><%= f.label :area %></th>
    <td><%= producer.area %></td>
  </tr>

  <tr>
    <th><%= f.label :pesticide %></th>
    <td><%= indicate_pesticide %></td>
  </tr>

  <tr>
    <th><%= f.label :content %></th>
    <td><%= simple_format producer.content %></td>
  </tr>
</table>

<% end %>

</div>
