<div class="container">
  出品者にメールを送信しました。出品者からの連絡をお待ち下さい
</div>
<div class="container">
  出品者とのチャットはこちらから→個別のチャットページへ遷移<%= @transaction.user.user_name %>
</div>
<br>
<h5 class="container">商品が届いたら下記のボタンを押してください</h5>

<div class="container">
  <%= form_with model: @transaction.item, local: true, url: buy_complete_item_path(@transaction.item_id) do |f| %>
    <% if @transaction.errors.any? %>
      <div class="">
        <% @transaction.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <%= f.submit '受取完了', data: {confirm: '商品が届きましたか？'} %>
  <% end %>
</div>

<%# 購入申請をキャンセルする %>
  <div class="container">
    <%=
      link_to submit_tag('購入キャンセル'), transaction_path(@transaction),
              method: :delete, data: {confirm: 'キャンセルしてよろしいですか？'}
    %>
  </div>

<div class="container">
  <%= link_to "商品詳細", @transaction.item %>
</div>

<div class="container">
  <%= link_to '取引一覧', transactions_path %>
</div>
