<!DOCTYPE html>
<html>
  <head>
    <title>アグリマ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/header' %>

<%# フラッシュメッセージ %>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <div class="" id="margin-down-top<%= '-toppage' if current_page?(root_path) %>">
      <%= yield %>
    </div>

<%# footer %>
    <%== render 'layouts/footer' %>

  </body>
</html>
