<!DOCTYPE html>
<html>
  <head>
    <title>AgricultureMarket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%#navbar %>
    <nav class="navbar navbar-default">
      <div class="container-fluid">

  <%# ハンバーガーメニュー %>
        <div class="navbar-header">
          <button type="button" name="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#gnavi">
            <span class="sr-only">Bootstrap</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">AgricultureMarket</a>
        </div>

  <%# ヘッダーメニュー %>
        <div id="gnavi" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to '商品一覧', items_path %></li>
              <li><%= link_to '新規出品', new_item_path %></li>
              <li><%= link_to 'マイページ', current_user %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to '商品一覧', items_path %></li>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

<%# フラッシュメッセージ %>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>

<%# footer %>
    <footer class="fotter">
      <div class="container">
        <p class="">Agriculture Market</p>
      </div>
    </footer>
  </body>
</html>
